<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SelBuk.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SelBuk.Core.Properties.Settings>
            <setting name="SelBuk_Core_com_selbuk_www_WebService_GetSalesService"
                serializeAs="String">
                <value>http://www.selbuk.com/store/files/salescontrol/webservice/SBQB/WebService_GetSales.cfc</value>
            </setting>
        </SelBuk.Core.Properties.Settings>
    </applicationSettings>
</configuration>